html{
  scroll-behavior: smooth;
}

body {
  background-color: #f2f2f2;
  font-family: "Lato"; /* OPTIONAL: Google Fonts - base font */
  font-weight: 300;
  font-size: 16px;
  color: #555;
  scroll-behavior: smooth;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

.modal {
  /* display: none; */
  position:fixed;
  z-index: 1;
  left:0;
  top:0;
  height:100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color:#22daa2f4;
  margin: 20% auto;
  padding: 20px;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}


.closeBtn {
  color: black;
  float: right;
  font-size: 30px;
}

.closeBtn:hover:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.icon-white-color {
  color: #ffffff;
}

/* Scroll Down CSS */
.demo a {
  /* position: absolute; */
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#section03 { 
  padding-top: 75px;
}

#section03 a {
  padding-top: 60px;
}
#section03 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#section03 a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#section03 a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* Scroll Down CSS ENDS */

/* This is for Icon List */
#menu-outer {
  background: url(images/bar-bg.jpg) repeat-x;
  background-position: center center;
}

.table {
  display: table;   /* Allow the centering to work */
  position: relative;
	margin: 0 auto;
}

ul {
  margin-left: -15px;
}
ul#horizontal-list {
	/* min-width: 696px;*/
	list-style: none;
	padding-top: 50px;
	}
ul#horizontal-list li {
    display: inline;
    padding-inline: 20px;
}

.intro-social {
  display: block;
  /*position: relative;*/
  width: 100%;
 /* left: 0; 
  bottom: 7.2rem; */
  font-size: 3.3rem;
 /* margin: 0;
  padding: 0; */
  color: #ffffff;
}

.intro-social li {
	display: inline-block;
	margin: 0 20px;
	padding: 0;
}

.intro-content{
  color: 	#FFDF00;
  font-family: "Lato";
  font-size: 2.7rem;
  line-height: 1.565;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: .3rem;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
/* Icon List Ends */

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway"; /* OPTIONAL: Google Fonts - title font */
  font-weight: 300;
  color: #333;
}

/* Paragraph & Typographic */
p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
  color: #1CBCAD;
  word-wrap: break-word;

  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*---------------------------------------------------
  SECTION WRAPS
---------------------------------------------------*/

/* Header Wrap */
.header {
  background: #1CBCAD;
  background: url(../images/header-bg.jpg) no-repeat center top;
  padding-top:120px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 650px;
  width: 100%;
  
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header h1 {
  font-size: 80px;
  color: white;
  background: rgba(0,0,0,0.2);
}

.header h3 {
  font-size: 20px;
  color: white;
}

.header h3 a {
  color: #fff;
}

/* About Wrap */
.about {
  background: #2c3e50;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
} 

.about h5, p {
  color: white;
}

.about i {
  color: white;
  font-size: 20px;
  padding-right: 8px;
  vertical-align: middle;
}

.footer {
  background: #2f2f2f;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer p {
  color: white;
}

.footer h5 {
  color: white;
}

.footer t {
  font-weight: 700;
}

/* social icons: */
.footer i {
  padding-right: 8px;
  /*color: #1abc9c;*/
}

/* Global Values */

.desc {
  padding-top: 50px;
}

.desc p {
  color: #2f2f2f;
}

.desc t {
  color: #34495e;
  font-weight: 700;
}

.desc imp {
  padding: 6px;
  color: white;
  background: #34495e;
}

.desc more {
  color: #616669;
}


sm {
  font-size: 12px;
}

.desc .col-lg-3 {
  text-transform: uppercase;
}

.container .row p.tight {
  margin-bottom: 10px;
}

/* define some CSS3 animations: */
body {
  /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
  -webkit-backface-visibility: hidden;
}

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; 
  }

  100% {
    opacity: 1; 
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  } 
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* 1 */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
  }
